
              <ion-view>
              <ion-nav-bar class="bar-dark">
              <!--      <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button> -->
                  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                  <h1 class="title">我的收藏</h1>
                  </ion-nav-bar>
                <ion-content class="has-header">
                 <ion-refresher pulling-text="下拉刷新" on-refresh="doReFresh()">
                   </ion-refresher>
                 <div class="list"  >

                     <a class="item " href="#/result/{{collect.jobInfo.id}}" ng-repeat="collect in collection">

                         <h2>  {{collect.pName}}</h2>
                         <p>{{collect.compName}}</p>
                     </a>
                 </div>
                 <br>
                </ion-content>
              </ion-view>