<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
     <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button>
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">首页</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.news" ui-sref-active="active" class="item item-icon-left">
                                     新闻<i class="icon ion-ios7-paper"></i>
        </ion-item>
        <ion-item nav-clear menu-close  ui-sref="app.collection"  ui-sref-active="active" class="item item-icon-left">
                                    收藏 <i class="icon ion-star"></i>
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.search" ui-sref-active="active" class="item item-icon-left">
                                    搜索   <i class="icon ion-search"></i>              
        </ion-item>
        <ion-item nav-clear menu-close ui-sref="app.more" ui-sref-active="active" class="item item-icon-left">
                                  更多  <i class="icon ion-plus-circled"></i>               
        </ion-item>
      </ion-list>
      <div class="list list-inset">
       <button  class="button   button-block   button-positive" ng-click='logOut()'>
                                 退出登录
       </button>
     </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<div class="tabs-striped tabs-background-stable tabs-dark">
            <div class="tabs tabs-icon-top">
                           <a class="tab-item active" ui-sref="app.news" ui-sref-active="active">
                               <i class="icon ion-ios7-paper"></i>
                                                                                                                  新闻
                           </a>
                           <a class="tab-item" ui-sref="app.collection" ui-sref-active="active">
                                 <i class="icon ion-star"></i>
                                                                                                                  收藏
                           </a>
                           <a class="tab-item" ui-sref="app.search" ui-sref-active="active">
                                     <i class="icon ion-search"></i>
                                                                                                                  搜索
                           </a>
                           <a class="tab-item" ui-sref="app.more" ui-sref-active="active">
                                     <i class="icon ion-plus-circled"></i>
                                                                                                                   更多
                           </a>
                          </div>
</div>
